

// Uso de Extends en la parte de Section 
.card {
    background-image: url('/Imagenes/FondoBody.jpg');
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
}

.cards {
    color:white;
    font-size: 25px;
    text-align: center;
    font-style: italic;
}