
header {
    background-image: url('/Imagenes/FondoEncabezado.webp');
    height: 100px;
    margin: 0px auto;
    padding: 0px auto;
    background-size: cover;
    h1 {
        text-align: center;
        margin: 0px;
        padding: 0px;        
    }
}